<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDiskService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8543/DiskService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDiskService" contract="DiskServiceReference.IDiskService"
                name="BasicHttpBinding_IDiskService" />
        </client>
    </system.serviceModel>
</configuration>