<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="JCD C# RuleSet" Description="These rules are based on Microsoft extended design guidelines." ToolsVersion="10.0">
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1001" Action="Error" />
    <Rule Id="CA1011" Action="Error" />
    <Rule Id="CA1012" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1017" Action="None" />
    <Rule Id="CA1021" Action="Warning" />
    <Rule Id="CA1035" Action="None" />
    <Rule Id="CA1038" Action="None" />
    <Rule Id="CA1039" Action="None" />
    <Rule Id="CA1040" Action="Warning" />
    <Rule Id="CA1041" Action="None" />
    <Rule Id="CA1045" Action="Warning" />
    <Rule Id="CA1046" Action="None" />
    <Rule Id="CA1052" Action="None" />
    <Rule Id="CA1053" Action="None" />
    <Rule Id="CA1059" Action="None" />
    <Rule Id="CA1062" Action="Warning" />
    <Rule Id="CA1063" Action="Error" />
    <Rule Id="CA1065" Action="Error" />
    <Rule Id="CA1400" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1403" Action="None" />
    <Rule Id="CA1404" Action="None" />
    <Rule Id="CA1405" Action="None" />
    <Rule Id="CA1410" Action="None" />
    <Rule Id="CA1415" Action="None" />
    <Rule Id="CA1502" Action="Error" />
    <Rule Id="CA1505" Action="Error" />
    <Rule Id="CA1506" Action="Error" />
    <Rule Id="CA1700" Action="Warning" />
    <Rule Id="CA1708" Action="None" />
    <Rule Id="CA1712" Action="Warning" />
    <Rule Id="CA1713" Action="Warning" />
    <Rule Id="CA1714" Action="Warning" />
    <Rule Id="CA1715" Action="Warning" />
    <Rule Id="CA1717" Action="Warning" />
    <Rule Id="CA1719" Action="Warning" />
    <Rule Id="CA1720" Action="Warning" />
    <Rule Id="CA1721" Action="Warning" />
    <Rule Id="CA1724" Action="Warning" />
    <Rule Id="CA1725" Action="Warning" />
    <Rule Id="CA1801" Action="Error" />
    <Rule Id="CA1804" Action="Error" />
    <Rule Id="CA1810" Action="None" />
    <Rule Id="CA1811" Action="Error" />
    <Rule Id="CA1822" Action="Error" />
    <Rule Id="CA1823" Action="Error" />
    <Rule Id="CA1900" Action="None" />
    <Rule Id="CA1901" Action="None" />
    <Rule Id="CA2002" Action="None" />
    <Rule Id="CA2100" Action="None" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2108" Action="None" />
    <Rule Id="CA2111" Action="None" />
    <Rule Id="CA2112" Action="None" />
    <Rule Id="CA2114" Action="None" />
    <Rule Id="CA2116" Action="None" />
    <Rule Id="CA2117" Action="None" />
    <Rule Id="CA2122" Action="None" />
    <Rule Id="CA2123" Action="None" />
    <Rule Id="CA2124" Action="None" />
    <Rule Id="CA2126" Action="None" />
    <Rule Id="CA2131" Action="None" />
    <Rule Id="CA2132" Action="None" />
    <Rule Id="CA2133" Action="None" />
    <Rule Id="CA2134" Action="None" />
    <Rule Id="CA2137" Action="None" />
    <Rule Id="CA2138" Action="None" />
    <Rule Id="CA2140" Action="None" />
    <Rule Id="CA2141" Action="None" />
    <Rule Id="CA2146" Action="None" />
    <Rule Id="CA2147" Action="None" />
    <Rule Id="CA2149" Action="None" />
    <Rule Id="CA2201" Action="Error" />
    <Rule Id="CA2212" Action="None" />
    <Rule Id="CA2213" Action="Error" />
    <Rule Id="CA2214" Action="Error" />
    <Rule Id="CA2223" Action="None" />
    <Rule Id="CA2227" Action="Error" />
  </Rules>
</RuleSet>