<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    
    <assembly name="VFSBase"/>
    <namespace name="VFSBase.Implementation"/>
    <namespace name="VFSBase.Interfaces"/>
    <namespace name="VFSBase.Factories"/>

    <assembly name="VFSConsole"/>
    <namespace name="VFSConsole"/>

    <assembly name="mscorlib, 2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <namespace name="System" />

    <container>
      <types>

        <type type="IFileSystemTextManipulator" mapTo="FileSystemTextManipulator"/>
        <type type="IConsoleApplicationSettings" mapTo="ConsoleIOConsoleApplicationSettings"/>
        <type type="IFileSystemTextManipulatorFactory" mapTo="FileSystemTextManipulatorFactory"/>

        <type type="FileSystemOptions">
          <constructor>
            <param name="location" value="../../../Testfiles/virtual_disk.vfs"/>
            <param name="encryption" value="0"/>
            <param name="compression" value="0"/>
          </constructor>
        </type>

      </types>
    </container>
  </unity>

</configuration>